body {
  
   font: 2rem 'Indie Flower';
}

section{ width: 100%;
   
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(225, 0, 255);
    border: 1px solid rgb(43, 0, 255);}

    section h2 {
        font-weight: bold;
        font-size: 3rem;
      }



      section div{ transform: rotate(4deg);
        padding: 2em;
        margin: 0.7em;
       box-shadow:1px 1px 4px 3px;
        background-color:red;
        border: 1px solid black;}

/*piu efficace fare figli even di section*/
        section div:nth-child(even){
            transform: rotate(-4deg);
  
        padding: 2em;
        margin: 0.7em;
        box-shadow:1px 1px 4px 3px;
        background-color: green;
        border: 1px solid black;
        }
        

        section div:nth-child(3n){
  
        padding: 2em;
        margin: 0.7em;
 box-shadow:1px 1px 4px 3px;
        background-color: blue;
        border: 1px solid black;
        }

        section div:hover{
            transform: scale(1.25);
            z-index:10;
            width: 100%;
            width: 100%;
            cursor:pointer;
            box-shadow:2px 2px 4px 4px;
            transition-property: transform,box-shadow;
            transition-duration: 1s;
      /*velocita moviemnto transizione*/      transition-timing-function: ease;
        /*transition delay ritardo avvio*/
       transition-delay:0.5s;
        
        }