body {
    width: 100%;
    height: 100%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    background: rgb(225, 0, 255);
    border: 1px solid rgb(43, 0, 255);
}

.box1 {
    transform: rotate3d(1, 1, 1, 50deg);
    margin:1.7em;
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;}

    .box2 {
        transform: rotate3d(1, 1, 1, -50deg);
        margin:1.7em;
        width: 100px;
        height: 100px;
        background-color: red;
        border: 2px solid black;}


        .box3 {
            transform: rotate3d(1, 1, 1, 50deg);
            margin:1.7em;
            width: 100px;
    height: 100px;
            background-color: yellow;
            border: 2px solid black;}


            .box4 { 
                transform: rotate3d(1, 1, 1, -50deg);
                margin:1.7em;
                width: 100px;
                height: 100px;
                background-color:yellowgreen;
                border: 2px solid black;}
                .box5 {
                    transform: rotate3d(1, 1, 1, 50deg);
                    margin:1.7em;
                    width: 100px;
                    height: 100px;
                    background-color: green;
                    border: 2px solid black;}
                    .box6 {
                        transform: rotate3d(1, 1, 1, -50deg);
                        margin:1.7em;
                        width: 100px;
                        height: 100px;
                        background-color:brown;
                        border: 2px solid black;}
                        .box7 {
                            transform: rotate3d(1, 1, 1, 50deg);
                            margin:1.7em;
                            width: 100px;
                            height: 100px;
                            background-color: blue;
                            border: 2px solid black;}
                            .box8 {
                                transform: rotate3d(1, 1, 1, 50deg);
                                margin:1.7em;
                                width: 100px;
                                height: 100px;
                                background-color: grey;
                                border: 2px solid black;}




                                .box1:hover {
                                    transform: rotate3d(1, 1, 1, 0);
                                    width:200px;
                                    transition: transform 1s ease, scale 0.3s ease;
                                    /* transform: scale3d(1.5, 1.5, 1.5);
                                    background-color: rgb(0, 79, 79); */
                                }
                                

                                .box2:hover {
                                    transform: rotate3d(1, 1, 1, 0);
                                    width:200px;
                                    transition: transform 1s ease, scale 0.3s ease;
                                    /* transform: scale3d(1.5, 1.5, 1.5);
                                    background-color: rgb(0, 79, 79); */
                                }

                                .box3:hover {
                                    transform: rotate3d(1, 1, 1, 0);
                                    width:200px;
                                    transition: transform 1s ease, scale 0.3s ease;
                                    /* transform: scale3d(1.5, 1.5, 1.5);
                                    background-color: rgb(0, 79, 79); */
                                }
   
                                .box4:hover {
                                    transform: rotate3d(1, 1, 1, 0);
                                    width:200px;
                                    transition: transform 1s ease, scale 0.3s ease;
                                    /* transform: scale3d(1.5, 1.5, 1.5);
                                    background-color: rgb(0, 79, 79); */
                                }
                                .box5:hover {
                                    transform: rotate3d(1, 1, 1, 0);
                                    width:200px;
                                    transition: transform 1s ease, scale 0.3s ease;
                                    /* transform: scale3d(1.5, 1.5, 1.5);
                                    background-color: rgb(0, 79, 79); */
                                }
                                .box6:hover {
                                    transform: rotate3d(1, 1, 1, 0);
                                    width:200px;
                                    transition: transform 1s ease, scale 0.3s ease;
                                    /* transform: scale3d(1.5, 1.5, 1.5);
                                    background-color: rgb(0, 79, 79); */
                                }
                                .box7:hover {
                                    transform: rotate3d(1, 1, 1, 0);
                                    width:200px;
                                    transition: transform 1s ease, scale 0.3s ease;
                                    /* transform: scale3d(1.5, 1.5, 1.5);
                                    background-color: rgb(0, 79, 79); */
                                }
                                .box8:hover {
                                    transform: rotate3d(1, 1, 1, 0);
                                    width:200px;
                                    transition: transform 1s ease, scale 0.3s ease;
                                    /* transform: scale3d(1.5, 1.5, 1.5);
                                    background-color: rgb(0, 79, 79); */
                                }