

body {
  
   font: 2rem 'Indie Flower';
}

section{ width: 100%;
   
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(225, 0, 255);
    border: 1px solid rgb(43, 0, 255);}

    section h2 {
        font-weight: bold;
        font-size: 3rem;
      }



      section div{ transform: rotate(4deg);
        padding: 2em;
        margin: 0.7em;
       box-shadow:1px 1px 4px 3px;
        background-color:red;
        border: 1px solid black;
        animation:hidePost 10s cubic-bezier(1, 1, 1, 1) 1s infinite forwards;
      }

/*piu efficace fare figli even di section*/
        section div:nth-child(even){
            transform: rotate(-4deg);
  
        padding: 2em;
        margin: 0.7em;
        box-shadow:1px 1px 4px 3px;
        background-color: green;
        border: 1px solid #000000;
        animation:hidePost 10s cubic-bezier(1, 1, 1, 1) 1s infinite forwards;}
    
        
        

        section div:nth-child(3n){
  
        padding: 2em;
        margin: 0.7em;
 box-shadow:1px 1px 4px 3px;
        background-color: blue;
        border: 1px solid black;
        animation:hidePost 10s cubic-bezier(1, 1, 1, 1) 1s infinite forwards;
        }

        section div:hover{
            transform: scale(1.25);
            z-index:10;
            width: 100%;
            width: 100%;
            cursor:pointer;
            box-shadow:2px 2px 4px 4px;
            transition-property: transform,box-shadow;
            transition-duration: 1s;
      /*velocita moviemnto transizione*/
/*transition delay ritardo avvio*/
       transition-delay:0.5s;
         transition-timing-function: ease;
       
      
        }

        @keyframes hidePost{
            0%{
                opacity: 0;
            display: none;
            }
            10%{
                opacity: 0.1;
              
            }
            20%{
                opacity: 0.2;
               
            }
            30%{
                opacity: 0.3 ;
               
            }
            40%{
                opacity: 0.4 ;
               
            }
            50%{
                opacity: 0.5 ;
               
            }
            60%{
                opacity: 0.6 ;
               
            }
            70%{
                opacity: 0.7;
               
            }
            80%{
                opacity: 0.8;
               
            }
            90%{
                opacity: 0.9
            }
            90%{
                opacity: 1
            }
        }

      /*   

body {
    width: 100%;
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(225, 0, 255);
    font: 1rem 'Indie Flower';
}

.box1 {
    transform: rotate3d(1, 1, 1, 50deg);
 
    width:15%;
  
    background-color: grey;
    border: 2px solid black;
}

.box2 {
    transform: rotate3d(1, 1, 1, 50deg);
    margin: 1em;
    width:15%;
    background-color:yellow;
    border: 2px solid black;
}


.box3 {
    transform: rotate3d(1, 1, 1, 50deg);
    margin: 1em;
    width:15%;
    background-color: red;
    border: 2px solid black;
}


.box4 {
    transform: rotate3d(1, 1, 1, 50deg);
    margin: 1em;
    width:15%;
    background-color: green;
    border: 2px solid black;
}

.box5 {
    transform: rotate3d(1, 1, 1, 50deg);
    margin: 1em;
    width:15%;
    background-color: blue;
    border: 2px solid black;
}

.box6 {
    transform: rotate3d(1, 1, 1, 50deg);
    margin: 1em;
    width:15%;
    background-color:aqua;
    border: 2px solid black;
}

.box7 {
    transform: rotate3d(1, 1, 1, 50deg);
    margin: 1em;
    width:15%;
    background-color: grey;
    border: 2px solid black;
}

.box8 {
    transform: rotate3d(1, 1, 1, 50deg);
    margin: 1em;
    width:15%;
    background-color: royalblue;
    border: 2px solid black;
}



.box1:hover {
    transform: rotate3d(1, 1, 1, 0);
    box-shadow: 1px 1px 4px 1px black;
  transition-property: box-shadow,transform;
   transition-duration: 1s;
   transition-timing-function:ease-in-out;
transition-delay: 0s;
scale: 1.25;
    /* transform: scale3d(1.5, 1.5, 1.5);
                                            
}


.box2:hover {
    transform: rotate3d(1, 1, 1, 0);
    box-shadow: 1px 1px 4px 1px black;
  transition-property: box-shadow,transform;
   transition-duration: 1s;
   transition-timing-function:ease-in-out;
transition-delay: 0s;
scale: 1.25;                            
}

.box3:hover {
    transform: rotate3d(1, 1, 1, 0);
    box-shadow: 1px 1px 4px 1px black;
  transition-property: box-shadow,transform;
   transition-duration: 1s;
   transition-timing-function:ease-in-out;
transition-delay: 0s;
scale: 1.25;
                                           
}

.box4:hover {
    transform: rotate3d(1, 1, 1, 0);
    box-shadow: 1px 1px 4px 1px black;
  transition-property: box-shadow,transform;
   transition-duration: 1s;
   transition-timing-function:ease-in-out;
transition-delay: 0s;
scale: 1.25;
                                           
}

.box5:hover {
    transform: rotate3d(1, 1, 1, 0);
    box-shadow: 1px 1px 4px 1px black;
  transition-property: box-shadow,transform;
   transition-duration: 1s;
   transition-timing-function:ease-in-out;
transition-delay: 0s;
scale: 1.25;            
}

.box6:hover {
    transform: rotate3d(1, 1, 1, 0);
    box-shadow: 1px 1px 4px 1px black;
  transition-property: box-shadow,transform;
   transition-duration: 2s;
   transition-timing-function:ease-in-out;
transition-delay: 1s;}

.box7:hover {
    transform: rotate3d(1, 1, 1, 0);
    box-shadow: 1px 1px 4px 1px black;
  transition-property: box-shadow,transform;
   transition-duration: 2s;
   transition-timing-function:ease-in-out;
transition-delay: 1s;}

.box8:hover {
    transform: rotate3d(1, 1, 1, 0);
    box-shadow: 1px 1px 4px 1px black;
  transition-property: box-shadow,transform;
   transition-duration: 2s;
   transition-timing-function:ease-in-out;
transition-delay: 1s;                    
}
*/