
/*mobile*/

body{ font-family: Poppins, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  padding: 15px;

}




header{background-color:#fef7e2;
  border-radius: 20px;
  margin-top:20px;}

ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}




  ul li{list-style-type: none;}


  nav li:nth-child(1) a {
    font-size: 2rem;
    font-weight: 700;
    padding: 1.2rem;}


ul li{margin:20px;
    background-color:#ffdf7f ;
    padding: 20px;
    border-radius: 30px;
    font-size: 15px;}

  

li a{
  color:#732104 ;
  text-decoration: none}
  
  img{
  
    align-items: center;
    width:40px;
  height: 25px;}

  h1{text-align: center;
  color:#732104;}

  #honey-container{display:flex;
    flex-direction: column;
 align-items: center;}
  


#honey
{

  
margin:50px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
font-size: 10px;
}


#honey-container img{width:250px;
height: 150px;
border-top-right-radius:15px;
border-top-left-radius:15px;}

#box-testo{
  border-bottom-right-radius:15px;
  border-bottom-right-radius:15px;
  border:2px solid #fef7e2;
  background-color:#fef7e2;
}

button{

  font-size: 10px;}

  #lorem{background-color:#fef7e2;
    border-radius: 15px;
    margin:15px;
 display: flex;
 flex-direction: column;
 align-items: center;
  }

 #lorem h1{
    margin:20px;
  }

  aside p{ margin:20px;}

  #lorem h1{font-size:20px;
  font-weight: bolder;
  text-align: left;
  }

  aside h1{font-size:20px;
    font-weight: bolder;}

    #lorem img{width: 300px;
    height: 300px;
  
}

